* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
img {
    width: 32px;
    height: 25px;
    transition: 0.4s ease;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
} 
.boxx {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 50px;
    border: 1px solid black;
    border-radius: 10px;
}
.box {
    display: flex;
    justify-content: space-between;
    border-radius: 9px; 
    padding: 6px;
    height: 30px;
    background-color: rgb(165, 163, 163);
    transition: 0.4s ease;
}
.active {
    height: 70px;
}
.rotated {
    transform: rotate(180deg);
}